<p class="payment_module">

	<a href="{$this_path}payment.php" title="{l s='Pedir presupuesto' mod='tablereservation'}">

		<img src="{$this_path}table-reservation1.jpg" alt="{l s='Pedir presupuesto' mod='tablereservation'}" />

		{l s='Pedir presupuesto' mod='tablereservation'}

	</a>

</p>
